p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
} 
body{
    background-image:url("bg.jpeg") ;
    background-image: allign(center);
}
