body {
    background-image: url("smilingbucktooth.png");
    background-size: 100vw 100vh;
    background-position: center;
    margin: 0;
    animation: reduceBlur 5s linear forwards; /* Animation to reduce blur */
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.1px solid;
    height: 99.46vh;
    animation: reduceBlur 5s linear forwards; /* Syncing with body blur */
}

#text-thing, #clock {
    font-family: monospace;
    font-weight: bold;
    text-align: center;
    animation: reduceBlur 5s linear forwards; /* Syncing with body blur */
}

#text-thing {
    font-size: 1rem;
}

#clock {
    font-size: 6.5rem;
    color: blueviolet;
    background-color: hsla(0, 0%, 100%, 0.1);
    width: 100%;
}

/* Keyframes to reduce blur */
@keyframes reduceBlur {
    from {
        backdrop-filter: blur(5000px);
    }
    to {
        backdrop-filter: blur(1px);
    }
}
